@import './Navbar.css';
@import './Portfolio.css';
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour+Convergence&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#root {
  min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  
  }

  body {
    background-color: #80616b;
  }