@import './Navbar.css';
@import './Portfolio.css';
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {

    height: 100%;
    margin: 0;
    padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
  }

 

  body {
    background-color: #ae98866f;
       max-width: 100%;
    overflow-x: hidden;
  }

  .page-container {
  box-sizing: border-box;      
  min-height: 100vh;        
  display: flex;
  flex-direction: column;
}

