.portfolio {
  max-width: 1300px;
  width: 100%;
  margin: 1rem auto;
  padding: 2rem;
  scroll-behavior: smooth;
  
}

.portfolio-title {
  padding: 1rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  margin-bottom: 2rem;
}

.portfolio-grid > div {
   overflow: visible;
  border-radius: 12px;
  
  position: relative;
}


.portfolio-image {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.707);
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.portfolio-image:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.181);
}


@media (max-width: 600px) {
  .portfolio {
    padding: 0 0.5rem;
  }

  .portfolio-title {
    font-size: 1.5rem;
  }
}